<!DOCTYPE html>
<html>
<head>
<!--  <title><%= productName %></title>-->

  <meta charset="utf-8">
<!--  <meta name="description" content="<%= productDescription %>">-->
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/png" sizes="128x128" href="icons/Group 3.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/Group 3.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/Group 3.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/Group 3.png">
  <link rel="icon" type="image/ico" href="icons/Group 3.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

  <title>Freemium</title>
  <meta name="title" content="Freemium"/>
  <meta name="description" content="Developer Toolbox is an all-in-one tool designed to assist developers with various tasks commonly encountered during development"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://freemium.incentius.com/convert-text-style"/>
  <meta property="og:title" content="Freemium"/>
  <meta property="og:description" content="Developer Toolbox is an all-in-one tool designed to assist developers with various tasks commonly encountered during development

"/>
  <meta property="og:image" content="Dashboard.png"/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content="https://freemium.incentius.com/convert-text-style"/>
  <meta property="twitter:title" content="Freemium"/>
  <meta property="twitter:description" content="Developer Toolbox is an all-in-one tool designed to assist developers with various tasks commonly encountered during development

"/>
  <meta property="twitter:image" content="Dashboard.png"/>
</head>
<body>
<!-- quasar:entry-point -->
</body>
</html>
